@CHARSET "ISO-8859-1";

	.header-bg {
		background-color: #ffee58;
		width: 100%;
	}
	
	.header-btn {
		color: black;
		padding: 15px;
		text-decoration: none;
	}
	
	.header-btn:hover {
		color: white; 
		background-color: #4f5b62;
		transition: 0.5s;
	}
	

	// Extra small devices (portrait phones, less than 576px)
	@media (max-width: 575px) {
		.navbar-nav > li{
		  margin-bottom:30px;
		}
	}
	
	// Small devices (landscape phones, 576px and up)
	@media (min-width: 576px) and (max-width: 767px) {
		.navbar-nav > li{
		  margin-bottom:30px;
		}
	}
	
	// Medium devices (tablets, 768px and up)
	@media (min-width: 768px) and (max-width: 991px) {
		
	}
	
	// Large devices (desktops, 992px and up)
	@media (min-width: 992px) and (max-width: 1199px) {
	
	}
	
	// Extra large devices (large desktops, 1200px and up)
	@media (min-width: 1200px) {
	
	}
	