@CHARSET "ISO-8859-1";

/* BODY */
	body {
		background-color: #FFFEEF;
	}

/* HEADER */
	.headerDesign {
		border-top: 5px solid #ca9b52; 
		background-color: #ffee58;
		width: 100%;
		padding: 15px;
	}
	
	.headerDesign ul {
		list-style-type: none;
	    margin: 0;
	    padding: 0;	
	}
	
	.headerDesign li {
		display: inline;
	}
	
	.header-flagship {
		color: black;
		padding: 15px;
		text-decoration: none;
	}
	
	.header-flagship:hover {
		color: black;
	}
	
	.header-btn {
		color: black;
		padding: 15px;
		text-decoration: none;
		letter-spacing: 2px;
		font-family: 'Times New Roman', serif;
	}
	
	.header-btn:hover {
		color: black;
		background-color: #ffffb0;
		transition: 0.5s;
	}
	



	